<div class="jumbotron">
	<div class="row">
		<div class="col-md-4">
			<img src="images/logo@2x.png"/>
			<div class="subheading">Realtime monitoring tool for Hadoop</div>
			<a class="btn btn-default btn-sm">Learn More</a>
		</div>
		<div class="col-md-7 col-md-offset-1">
			<h2>Get Started</h2>
			<p>Enter the URL to your Namenode's webUI</p>
			<form ng-submit="goToAddress()">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Address e.g. http://localhost:50070/jmx" ng-model="address"/>
					<span class="input-group-btn">
						<input type="submit" class="btn btn-primary" value="Connect"/>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
